.purple{
    color: purple;
    font-size: 2.5vw;
}

@media(max-width:600px){
    body{
        /* the background-color: black will not be
        applied because an inline css has a color
        property on the body tag, only properties not 
        color will be applied
        */
        background-color: black !important;
        color: brown !important;
        font-size: 3.5vw;
    }

    html,body{
        overflow-x: hidden;
        width: 100%;
    }
}